

/* General Styling */
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    font-size: 20px;
    overflow: auto;
    position: relative;
}
/* Styling image */
img {
    justify-content: center;
    max-width: 300px;
}
.img-thumbnail {
    border: none;
    
}

/* Header */
header {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    text-align: left;
    font-size: 2em; 
    line-height: 80%; 
    letter-spacing: 0.05em;}
/*cart icon*/


.logo {
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    align-content: right;
    width: 150px;
    height: 100px;
 }

#cart-icon
{
    width: 20px; /* Set the desired width */
    height: 20px; /* Set the desired height */
}




h3 {
    font-family: 'Quicksand', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 15px; /* Change the font size as needed */
}
/* Footer */
footer {
    width: 100%;
    background-color: rgb(216, 126, 9);
    position: relative;
    bottom: 0;
    padding: 10px;
    color: white;
}
.contactIcons {
    color: white;
}

/*----NAVIGATION BAR------/*
/* Top portion of nav */
#top-nav {
    width: 100%;
    height: 60px;
    background-color: white;
}
#top-nav a {
    float: right;
    color: rgb(243, 136, 6);
}
.navbar {
    min-height: 50px;
    width: 100%;
    background-color: black;
    text-transform: uppercase;
    border-radius: 0;
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;}

/* Bottom portion of nav */
.navbar-toggler {
    color: white;
    font-size: 20px;
}
#toggler {
    position: absolute;
    outline: none;
}
#toggler:hover {
    outline: 2px solid rgb(228, 120, 19);
}


.search-submit:hover, .navbar a:hover, #top-nav a:hover, 
.inputButton:hover, .sm-button:hover, #logout:hover, 
a:hover, .removeBtn:hover, .cartButton:hover, #back:hover {
    color: rgb(227, 178, 16);
}
/* Making the nav bar sticky on scroll */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.sticky + .container {
    padding-top: 150px;
}
/* Shopping side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    color: black;
    border-left: 2px solid black;
}

.home_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Viewport height */
}
/* Content */
.container {
    text-align: center;
    position: relative; 
}
.inputButton {
    background: none;
    border: none;
    margin: none;
    font-size: 30px;
    line-height: 90%;
}
.inputBox {
    border: none;
    text-align: center;
    width: 45px; 
    line-height: 90%;
}
.inputButton:focus, .inputBox:focus, .removeBtn:focus {
    outline: none;
}
.errorBox {
    width: 100%; 
    height: 40px; 
    margin-top: 5px;
    color: #ff2e2e;
    padding-top: 3px;
    line-height: 95%;
}
#back {
    float: left;
    color: black;
}


/* User credential inputs */ 
.input {
    border: 2px solid black;
    border-radius: 20px;
    padding: 0 10px;
}
.input:focus {
    border: 2px solid rgb(200, 144, 12);
    outline: none;
}
.tableContainer .form-group {
    height: 60px;
}
.tableContainer .error_tr {
    height: 10px;
    font-size: 15px;
    color: red;
}

/* Adjusting responsive screen */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        max-width: 100%;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    .input {
        width: 200px;
    }
    .tableContainer .form-group {
        font-size: 17px;
    }
    .tableContainer .error_tr {
        font-size: 13px;
    }
    #search-form {
        max-width: 200px;
    }
    .search-field {
        margin-right: 3px;
        width: 150px;
    }
    .invoice {
        font-size: 15px;
    }
    .invoice .table {
        font-size: 15px;
    }
}

/* Styling buttons */
.sm-button {
    width: 80%;
    height: 50px; 
    border-radius: 50px; 
    border: none;
    background-color: rgb(239, 152, 21); 
     
    text-transform: uppercase; 
    letter-spacing: 0.2em;
}
#logout {
    border: none;
    background-color: inherit;
    text-decoration: underline;
}
.removeBtn {
    border: none;
    background-color: white;
}
/* Index page */
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    text-align: left;
    font-size: 12px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.tl_img {
    max-width: 100%;
}
/* Container around content */
.content_container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.content_container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid rgb(88, 207, 228);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -13px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: black;
    position: relative;
    border-radius: 6px;
}
.art {
    max-width: 400px;
}
.col-md-6 {
    margin-bottom: 10px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

/* Full-width containers */
    .content_container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

/* Make sure that all arrows are pointing leftwards */
    .content_container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

/* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 18px;
    }

/* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/*Styling for registration form
//-------Password Validation Style---->
/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color:black;
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "";
  }


  #message {
    display:block;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #message h3 {
    color: #4caf50;
  }
  
  #message p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  #message .invalid {
    color: #f44336;
  }
  
  #message .valid {
    color: #4caf50;
  }
/*message for personalized shopping experience.*/
#helloMsg {
    font-size: large;
    font-weight: bolder;
    font-style: italic;
}  

/* Popup container */
/* Styles for the button and popup */
.button-wrapper2 {
    position: relative;
    display: inline-block;
}

.sm-button-highlight {
    /* Your existing button styles */
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

/* Show the popup when the show class is added */
.popup.show {
    display: block;
}

/* Triangle pointing upwards */
.popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    transform: translateX(-50%);
}

/* Additional styles for the popup text */
.popuptext {
    margin: 0;
    font-size: 14px;
}

/* Hover effect for the button */
.sm-button-highlight:hover {
    background-color: #b9781d;
}

/*thank you page css*/
body {
    font-family: Arial, sans-serif;
}

header {
    font-weight: bold;
}

#thank-you {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
